/* Banner.css */
header {
    margin: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    background-color: antiquewhite;
  }
  
  .navbar-brand, .nav-link {
    color: black;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #e4e4e1;
  }
  
  /* Otros estilos relevantes */
  